/* Center loading screen */
.loading-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #faf3e7;
  flex-direction: column;


}





/* Zoom animation */
@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.loading-logo {
  width: 80px;
  animation: zoomInOut 1.5s infinite ease-in-out;
}

/* Text fade animation */
@keyframes fadeInOut {
  0%, 100% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}

.loading-text {
  color: #10716b;
  margin-top: 12px;
  animation: fadeInOut 1.5s infinite ease-in-out;
}